
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/alch_win/alch.ini
/documentation/
*documentation*
/documentation/Doxyfile
/documentation/html/_alchemy_8hpp_source.html
/documentation/html/_effect_8hpp_source.html
/documentation/html/_ingredient_8hpp_source.html
/documentation/html/_potion_8hpp_source.html
/documentation/html/annotated.html
/documentation/html/bc_s.png
/documentation/html/bdwn.png
/documentation/html/classcaco__alch_1_1_alchemy.html
/documentation/html/classcaco__alch_1_1_alchemy-members.html
/documentation/html/classcaco__alch_1_1_potion.html
/documentation/html/classcaco__alch_1_1_potion-members.html
/documentation/html/classes.html
/documentation/html/closed.png
/documentation/html/doc.png
/documentation/html/doxygen.css
/documentation/html/doxygen.svg
/documentation/html/files.html
/documentation/html/folderclosed.png
/documentation/html/folderopen.png
/documentation/html/functions.html
/documentation/html/functions_func.html
/documentation/html/functions_rela.html
/documentation/html/functions_vars.html
/documentation/html/globals.html
/documentation/html/globals_func.html
/documentation/html/graph_legend.html
/documentation/html/index.html
/documentation/html/menudata.js
/documentation/html/namespaces.html
/documentation/html/nav_f.png
/documentation/html/nav_h.png
/documentation/html/open.png
/documentation/html/pages.html
/documentation/html/resource_8h_source.html
/documentation/html/search/all_0.js
/documentation/html/search/all_1.js
/documentation/html/search/all_2.js
/documentation/html/search/all_3.js
/documentation/html/search/all_4.js
/documentation/html/search/all_5.js
/documentation/html/search/all_6.js
/documentation/html/search/all_7.js
/documentation/html/search/all_8.js
/documentation/html/search/all_9.js
/documentation/html/search/all_a.js
/documentation/html/search/all_b.js
/documentation/html/search/all_c.js
/documentation/html/search/all_d.js
/documentation/html/search/classes_0.js
/documentation/html/search/classes_1.js
/documentation/html/search/classes_2.js
/documentation/html/search/classes_3.js
/documentation/html/search/classes_4.js
/documentation/html/search/classes_5.js
/documentation/html/search/classes_6.js
/documentation/html/search/files_0.js
/documentation/html/search/functions_0.js
/documentation/html/search/functions_1.js
/documentation/html/search/functions_2.js
/documentation/html/search/functions_3.js
/documentation/html/search/functions_4.js
/documentation/html/search/functions_5.js
/documentation/html/search/functions_6.js
/documentation/html/search/functions_7.js
/documentation/html/search/functions_8.js
/documentation/html/search/namespaces_0.js
/documentation/html/search/pages_0.js
/documentation/html/search/related_0.js
/documentation/html/search/search.css
/documentation/html/search/searchdata.js
/documentation/html/search/variables_0.js
/documentation/html/splitbar.png
/documentation/html/structcaco__alch_1_1__internal_1_1less.html
/documentation/html/structcaco__alch_1_1__internal_1_1less-members.html
/documentation/html/structcaco__alch_1_1_effect.html
/documentation/html/structcaco__alch_1_1_effect-members.html
/documentation/html/structcaco__alch_1_1_ingredient.html
/documentation/html/structcaco__alch_1_1_ingredient-members.html
/documentation/html/sync_off.png
/documentation/html/sync_on.png
/documentation/html/tab_a.png
/documentation/html/tab_b.png
/documentation/html/tab_h.png
/documentation/html/tab_s.png
/documentation/latex/annotated.tex
/documentation/latex/classcaco__alch_1_1_alchemy.tex
/documentation/latex/classcaco__alch_1_1_potion.tex
/documentation/latex/files.tex
/documentation/latex/namespaces.tex
/documentation/latex/refman.tex
/documentation/latex/structcaco__alch_1_1__internal_1_1less.tex
/documentation/latex/structcaco__alch_1_1_effect.tex
/documentation/latex/structcaco__alch_1_1_ingredient.tex
